body {
  font-family: sans-serif;
  
  
}
header{
  font-size: large;
  display: flex;
  justify-content: center;
  background-color:rgb(45, 14, 158) ;
  color:white ;
}
input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
  background-color: #cbce07;
  
  
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  text-align: center;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;

}

ul {
  margin-right: 8px;
  text-align: center;
  list-style: none;
  color: #fff;
}

div{
  text-align: center;
  
}





.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.All{
  background-color: #1ef8b3;
}